html {
	font-family: 'Montserrat', sans-serif;
	text-rendering: optimizeLegibility;
	color: #5B6A7D;
	height: 100%;
	overflow: hidden;
}

a {
	text-decoration: none;
}

/* Background */
body {
	background: linear-gradient(to bottom right, #40AADB, #4083DB);
}

.stripes {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: grid;
	grid: 180px 260px auto 220px / repeat(10, 1fr);
	transform: skewY(-13deg);
	transform-origin: 70%;
  }
  
  .stripes :nth-child(1) {
	grid-area: 1 / span 5;
	background-color: rgba(255, 255, 255, 0.06);
  }
  
  .stripes :nth-child(2) {
	grid-area:  1 / span 5 / auto / -1;
	background: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
  }
  
  .stripes :nth-child(3) {
	grid-area: 2 / span 5;
	background: linear-gradient(to bottom right, rgba(80, 122, 221, 0.2), rgba(80, 122, 221, 0));
  }
  
  .stripes :nth-child(4) {
	grid-area: 2 / span 5 / auto / -1;
	background: linear-gradient(to bottom right, rgba(95, 230, 250, 0.3), rgba(95, 230, 249, 0));
  }
  
  .stripes :nth-child(5) {
	grid-area: 4 / span 10;
	background: linear-gradient(to left, rgba(95, 230, 250, 0), rgba(95, 230, 250, 0.6));;
  }

/* Card */
.card {
	position: relative;
	width: 630px;
	height: 600px;
	margin: 50px auto;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.card__content {
	padding-top: 40px;
	text-align: center;
}

.card__content h1 {
	margin-top: 30px;
	font-size: 32px;
	font-weight: 400;
}

.card__content p {
	font-weight: 100;
	font-size: 24px;
	max-width: 400px;
	margin: 0 auto;
}

.card__content span {
	font-size: 20px;
	font-weight: 300;
	display: block;
	margin-top: 25px;
}

.card__content span a {
	color: #3471B0;
}

/* Footer */
.card__footer {
	position: absolute;
 	bottom: 0;
 	left: 0;
 	width: 100%;
 	padding-bottom: 25px;
}

.card__footer .social-link {
	height: 40px;
	margin: 0 10px;
}

.card__footer svg.social-link path {
    fill: #E3EAF1;
    -webkit-transition: fill 400ms ease;
	  -moz-transition: fill 400ms ease;
	  -ms-transition: fill 400ms ease;
	  -o-transition: fill 400ms ease;
    transition: fill 400ms ease;
}

.card__footer svg.social-link:hover path {
	fill: #3471B0;
}

/* Responsiveness */
@media only screen and (max-width : 600px) {
	.card {
		margin: 0;
		width: 100%;
		min-height: 600px;
		background-color: white;
	}

	.card__content h1 {
		font-size: 24px;
	}

	.card__content p {
		font-size: 18px;
		padding: 0 25px 0 25px;
	}
}